/*================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 3.1
	Author: GeeksLabs
	Author URL: http://www.themeforest.net/user/geekslabs
================================================================================

NOTE:
------
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,900,700italic,400italic,600,600italic,700,300italic,300,200,200italic);
@font-face {
    font-family: 'Titillium Web', 'Titillium Web', sans-serif;
}
.informacion{
   border: 1px solid #d8d8d8; 
  border-radius:5px;
  background: white;
}
.linkRow{
  color: #1e72fc;
}
.linkRow:hover{
  color: #004ccc;
  border: 1px solid #87b2ff;
}
.titulo{
  color: #ff6e00;
  font-weight: bold;
  font-size: 18px;
  margin: 5px;
  border-bottom: 1px solid #ff6e00;

  margin-top: 20px;
}
.titulo2{
  color: #021879;
  font-weight: bold;
  font-size: 18px;
  margin: 5px;
  border-bottom: 1px solid #021879;

  margin-top: 20px;
}
.cssdato{
  padding: 0px;
  border: 0px;
  margin: 0px;
  font-size: 12px;
  padding: 10px 10px 10px 10px;
}
.cssdato tbody tr td{
  padding: 0px;
  border: 0px;
  margin: 0px;
  border-bottom: 1px solid #e8e8e8;
  font-size: 14px;
  padding: 4px;
}
.cssdato tbody tr .sub{
  background-color: #efefef;
  color: black;
  font-weight: bold;
  border-bottom: 1px solid white;
}
/**********************************************/
.btn-jh{
	border: none;
	padding: 2px 8px;
	border-radius: 1px;
	color: white;
	font-family: 'Titillium Web', sans-serif;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5), 0 2px 6px 0 rgba(0, 0, 0, 0.12);
}
.formcontent{
	padding:15px;
	background-color: white;
	box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}
/****************************   tabla para header    ******************************/
.csscontrato{
	padding: 0px;
	border: 0px;
	margin: 0px;
	margin-top: 10px;
	border: 1px solid white;
	font-size: 12px;
}
.csscontrato thead tr th{
	padding: 0px;
	border: 0px;
	margin: 0px;
	text-align: center;
	background-color: #75c7ff;
	font-size: 12px;
}
.csscontrato tbody tr td{
	padding: 0px;
	border: 0px;
	margin: 0px;
	border: 1px solid white;
	text-align: center;
	font-size: 12px;
}
/****************************   tabla para header    ******************************/
.csstpago{
  padding: 0px;
  border: 0px;
  margin: 0px;
  margin-top: 10px;
  border: 1px solid #efefef;
  font-size: 12px;
}
.csstpago thead tr th{
  padding: 0px;
  border: 0px;
  margin: 0px;
  text-align: center;
  border: 1px solid #dedede;
  font-size: 12px;
}
.csstpago tbody tr td{
  padding: 0px;
  border: 0px;
  margin: 0px;
  border: 1px solid #efefef;
  text-align: center;
  font-size: 12px;
}
.activoTab a{
	color: #4286f4;
	font-weight: bold;
	border-bottom: 1px solid #4286f4;
}
/********************   CONFIGURAR ORGANIGRAMA    ***********************/
#lista3 {
  counter-reset: li; 
  list-style: none; 
  *list-style: decimal; 
  font: 15px 'Titillium Web','trebuchet MS', 'lucida sans';
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
#lista3 ol {
  margin: 0 0 0 2em; 
}
#lista3 li{
  position: relative;
  display: block;
  padding: .4em .4em .4em .8em;
  *padding: .4em;
  margin: .5em 0 .5em 2.5em;
  background: #ddd;
  color: #444;
  text-decoration: none;
  transition: all .3s ease-out;   
}

#lista3 li:hover{
  background: #fefefe;
  border: 1px solid #ddd;
}   

#lista3 li:before{
  content: counter(li);
  counter-increment: li;
  position: absolute; 
  left: -2.5em;
  top: 50%;
  margin-top: -1em;
  background: #4286f4;
  color: white;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}
#lista3 li:after{
  position: absolute; 
  content: '';
  border: .5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -.5em;
  transition: all .3s ease-out;               
}

#lista3 li:hover:after{
  left: -.5em;
  border-left-color: #4286f4;             
}